---
slug: admin/site-manager/content-blocks
format: html
layout_name: admin/empty_layout
---

{%- assign name = 'Content Blocks' -%}
{%- content_for 'pagetitle' -%}{{ name }}{%- endcontent_for -%}

<div class="grid-container-full">
    <div class="grid-x grid-padding-x">

        <!-- <div class="large-12 cell content-blocks-container">
          <ins-card steady>
              <h2 class="title-page">Welcome to Content Blocks</h2>
              <p>Content Blocks help you save time by allowing you to re-use common snippets of code or content across multiple pages. One content blocks can be multiple inserted pages and any change will be reflected across all pages when you make them.</p>
          </ins-card>
        </div>

        <div class="grid-container box-container">
            <div class="grid-x align-center">
                <h2 class="title-page">You don't have any content blocks yet.</h2>
                <span>Would you like to create your first content blocks?</span>
                <a href="/admin/site-manager/content-blocks-form" class="button btn">ADD CONTENT BLOCK</a>
            </div>
        </div> -->
        <div class="large-12 cell pages-table-container">
            <div class="large-12 small-12 medium-12 cell" style="margin-bottom: 25px">
                <ins-filter with-date-filter date-title="Last Modified">
                    <ins-filter-item
                      name="Status"
                      options='["All Status", "Pending", "Completed", "Declined"]'>
                    </ins-filter-item>
                </ins-filter>
            </div>
            <div class="large-12 small-12 medium-12 cell" style="margin-bottom: 25px">
                <ins-button label="ADD CONTENT BLOCK" solid onclick="addNewContentBlock()"></ins-button>
            </div>
            <ins-card no-padding steady>
                <ins-table table-stripe page-number="1" page-size="10" total-count="3" size-options="[10, 20, 35]" button-label="APPLY"
                with-action>
                    <!-- <ins-searchbar slot="ins-searchbar" placeholder="Search..."></ins-searchbar> -->
                    <ins-tr>
                        <ins-th-checkbox></ins-th-checkbox>
                        <ins-th bold sort-keyword="a" label="Title"></ins-th>
                        <ins-th bold sort-keyword="c" label="Last Modified"></ins-th>
                        <ins-th bold sort-keyword="c" label="Status"></ins-th>
                    </ins-tr>
                    <ins-tr>
                        <ins-td-checkbox></ins-td-checkbox>
                        <ins-td label="Footer" clickable>
                            <ins-action>
                                <ins-action-item onclick="editContentBlock()" label="Edit" app></ins-action-item>|
                                <ins-action-item label="Archive"></ins-action-item>
                            </ins-action>
                        </ins-td>
                        <ins-td label="Today 11:35am"></ins-td>
                        <ins-td label="Enabled"></ins-td>
                    </ins-tr>
                    <ins-tr>
                        <ins-td-checkbox></ins-td-checkbox>
                        <ins-td label="Header" clickable>
                            <ins-action>
                                <ins-action-item onclick="editContentBlock()" label="Edit" app></ins-action-item>|
                                <ins-action-item label="Archive"></ins-action-item>
                            </ins-action>
                        </ins-td>
                        <ins-td label="Yesterday 10:00pm"></ins-td>
                        <ins-td label="Enabled"></ins-td>
                    </ins-tr>
                    <ins-tr>
                        <ins-td-checkbox></ins-td-checkbox>
                        <ins-td label="Google Maps Scripts" clickable>
                            <ins-action>
                                <ins-action-item onclick="editContentBlock()" label="Edit" app></ins-action-item>|
                                <ins-action-item label="Archive"></ins-action-item>
                            </ins-action>
                        </ins-td>
                        <ins-td label="25-May-2018 - 09:00pm"></ins-td>
                        <ins-td label="Disabled"></ins-td>
                    </ins-tr>
                    <ins-tr>
                        <ins-td-checkbox></ins-td-checkbox>
                        <ins-td label="Google Tag Manager" clickable>
                            <ins-action>
                                <ins-action-item onclick="editContentBlock()" label="Edit" app></ins-action-item>|
                                <ins-action-item label="Archive"></ins-action-item>
                            </ins-action>
                        </ins-td>
                        <ins-td label="25-May-2018 - 11:00pm"></ins-td>
                        <ins-td label="Disabled"></ins-td>
                    </ins-tr>
                </ins-table>
            </ins-card>
        </div>
    </div>
</div>
<script>
    /**
     * Add new content blocks button
     * 
     * onclick button
     **/
    function addNewContentBlock() {
        var insRendererEl = parent.document.querySelector('ins-renderer');
        insRendererEl.updateRoute({
            label: 'New Content Block',
            link: '/admin/site-manager/content-blocks-form',
            app: true
        });
    }

    /**
	 * Edit content blocks
	 * 
	 * Table list content blocks
	 * */
	function editContentBlock() {
		let _insRendererEl = parent.document.querySelector('ins-renderer');

		_insRendererEl.updateRoute({
			label: 'Edit Content Block',
			link: '/admin/site-manager/content-blocks-form',
			app: true
		});
	}
</script>