---
name: admin_sign_in
resource: Session
redirect_to: admin/insites
---

<!-- {{form_builder}} -->

{% form %}

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label class="form-label">Email
          {% input 'email', placeholder: 'Enter your Email' %}
        </label>
      </div>
      <div class="large-12 cell">
        <label class="form-label">Password
          {% input 'password', placeholder: 'Enter your Password' %}
        </label>
      </div>
      <div class="large-12 cell text-right">
        <a class="recover-password-link"
          href="/admin/recover-password">
          Forgot your password?
        </a>
      </div>
      <div class="large-12 cell submit-btn-wrap">
        {% submit 'SIGN IN' class: 'button%}
      </div>
    </div>
  </div>
{% endform %}