---
slug: admin/system/embed-reports
format: html
layout_name: admin/empty_layout
---
{%- assign name = 'Embed Reports' -%}
{%- content_for 'pagetitle' -%}{{ name }}{%- endcontent_for -%}
<div class="grid-container-full">
  <div class="grid-x grid-padding-x margin-bottom-30">
    <div class="large-12 cell margin-bottom-30">
      <ins-datastudiourl></ins-datastudiourl>
    </div>
  </div>
</div>

<ins-version value="PLATFORM VERSION: V1.0.0"></ins-version>